---
import { shuffle } from "@probablyduncan/common";
import type { HTMLAttributes } from "astro/types";
import { getCollection } from "astro:content";

const models = await getCollection("models");

interface Props extends HTMLAttributes<"select"> {}
const props = Astro.props;
---

<select {...props}>
    {
        shuffle(models).map((modelGroup) => (
            <optgroup label={modelGroup.id}>
                {shuffle(modelGroup.data).map((opt: string) => (
                    <option>{opt}</option>
                ))}
            </optgroup>
        ))
    }
</select>
